body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background: url('https://images.wallpapersden.com/image/download/monkey-luffy-4k-one-piece-2024-art_bmdubGaUmZqaraWkpJRobWllrWdma2U.jpg') no-repeat center center fixed;
    background-size:cover;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    margin: 2rem 0;
}

.hero h1 {
    margin: 0;
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}

section {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.project {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #eaeaea;
    border-radius: 5px;
}

.project h3 {
    margin: 0;
    font-size: 1.5rem;
}

.project p {
    margin: 0.5rem 0 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 1rem;
    padding: 0.7rem;
    border: none;
    background: #333;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 1;
}